
@{
    ViewBag.Title = "Create";
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#newPartyBtn").click(function () {
            $.ajax({
                url: '@(String.Concat(ConfigurationWrapper.Instance.WebApiUrl, "/api/party"))',
                cache: false,
                type: 'POST',
                dataType: "json",
                contentType: 'application/json; charset=utf-8'
            }).done(function (data) {
                console.log(data);
                console.log(data.Name);
                $("#resultDiv").html('<h3><a href="http://localhost:52551/Party/' + data.Name + '">http://localhost:52551/Party/' + data.Name + '</h3>');
            });;
        });
    });
</script>

<h2>Bienvenue</h2>
<div class="row">
    <blockquote>
        <p>
            Cliquez sur le boutton pour démarrer une nouvelle partie.
        </p>
    </blockquote>
    <div class="col-md-8 col-md-offset-2">
        <button type="button" id="newPartyBtn" class="btn-lg btn-success">Créer une nouvelle partie</button>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2" id="resultDiv">
    </div>
</div>
