@model string

<!-- Modal pour la rejouer  -->
<div class="modal fade" id="replayModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rejouer ?</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="centerBlock">
                            <div>Voulez-vous jouer une autre partie ?</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="confirmReplayBtn">Oui</button>
                <button type="button" data-dismiss="modal" class="btn" id="refuseReplayBtn">Non</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal pour la partie nulle -->
<div class="modal fade" id="confirmDrawnModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Demande de partie nulle</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="centerBlock">
                            <div>Voulez-vous accepter l'annulation de cette partie ?</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="confirmDrawnBtn">Oui</button>
                <button type="button" data-dismiss="modal" class="btn" id="refuseDrawn">Non</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal box pour le mat -->
<div class="modal fade" id="matModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Echec et Mat !</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="centerBlock">
                            <div id="matText"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="validMat" class="btn btn-primary" data-dismiss="modal">Valider</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal box pour le pat -->
<div class="modal fade" id="patModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Pat</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="centerBlock">
                            <div id="patText"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="validPat" class="btn btn-primary" data-dismiss="modal">Valider</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal box pour la promotion -->
<div class="modal fade" id="promoteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Choisissez une pièce</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="centerBlock">
                            <img src="/Content/Images/Pieces/b_knight.svg" style="width:45px;height:45px;" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="centerBlock">
                            <img src="/Content/Images/Pieces/w_bishops.svg" style="width:45px;height:45px;" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="centerBlock">
                            <img src="/Content/Images/Pieces/b_rook.svg" style="width:45px;height:45px;" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="centerBlock">
                            <img src="/Content/Images/Pieces/w_queen.svg" style="width:45px;height:45px;" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="centerBlock">
                            <input type="radio" id="promotedChoise" name="promotedChoise" value="knight" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="centerBlock">
                            <input type="radio" id="promotedChoise" name="promotedChoise" value="bishop" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="centerBlock">
                            <input type="radio" id="promotedChoise" name="promotedChoise" value="rook" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="centerBlock">
                            <input type="radio" id="promotedChoise" name="promotedChoise" value="queen" checked="checked" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="validPromote" class="btn btn-primary" onclick="validPromote('@Model')" data-dismiss="modal">Valider</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de confirmation -->
<div id="confirm" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Etes vous sur ?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="confirmBtn">Oui</button>
                <button type="button" data-dismiss="modal" class="btn">Non</button>
            </div>
        </div>
    </div>
</div>
