@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
        var viewModel = {
            chatMessages: ko.observableArray([]),
            chatUsername: ko.observable("")
        }

        viewModel.newMessage = {
            Username: ko.computed(function () { return viewModel.chatUsername() }),
            Text: ko.observable("")
        }

        viewModel.resizeChat = function () {
        //    $("#console").scrollTop($("#console")[0].scrollHeight);
        };

        $(document).ready(function () {
            ko.applyBindings(viewModel);

            $("#pushbtn").click(function () {
                $.ajax({
                    url: '@(String.Concat(ConfigurationWrapper.Instance.WebApiUrl, "/api/chat"))',
                    data: JSON.stringify(ko.mapping.toJS(viewModel.newMessage)),
                    cache: false,
                    type: 'POST',
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8'
                });
                viewModel.newMessage.Text('');
                $("#push").val('');
            });
        });

        if (!!window.EventSource) {
            var source = new EventSource('@(String.Concat(ConfigurationWrapper.Instance.WebApiUrl, "/api/chat"))');
            source.addEventListener('message', function (e) {
                //console.log(e.data);
                var json = JSON.parse(e.data);
                viewModel.chatMessages.push(json);
            }, false);

            source.addEventListener('open', function (e) {
              //console.log("open!");
            }, false);

            source.addEventListener('error', function (e) {
                if (e.readyState == EventSource.CLOSED) {
                    //console.log("error!");
                }
            }, false);

        } else {
            // not supported!
            //console.log("xdR");
            var xdr = new XDomainRequest();
            xdr.open("GET", "/api/chat/?" + Math.random());
            xdr.send();
            xdr.onload = function () {
                //console.log(xdr);
                var data = JSON.parse(xdr.responseText);
                viewModel.chatMessages.push(data);
            }
            xdr.onprogress = function () {
                //console.log(xdr.responseText);
                var data = JSON.parse(xdr.responseText);
                viewModel.chatMessages.push(data);
            }
        }
</script>

<h2>Index</h2>

<div id="body">
    <section class="content-wrapper main-content clear-fix">

        <div id="console" data-bind="template: {name: 'chatMessageTemplate', foreach: chatMessages, afterAdd: resizeChat}">
        </div>

        <label for="username">Enter username to start chatting</label>
        <input type="text" id="username" data-bind="value: chatUsername" />

        <div id="chatControl" value="send" data-bind="visible: chatUsername().length > 0">
            <textarea type="text" id="push" data-bind="value: newMessage.Text"></textarea>
            <button id="pushbtn">Send</button>
        </div>

        <script type="text/html" id="chatMessageTemplate">
            <p>
                <small data-bind="text: Dt"></small><br />
                <strong data-bind="text: Username"></strong>: <i data-bind="text: Text"></i>
            </p>
        </script>

    </section>
</div>