
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Bienvenue";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#newPartyBtn").click(function () {
            $.ajax({
                url: '/Home/NewParty',
                cache: false,
                type: 'POST',
                dataType: "json",
                contentType: 'application/json; charset=utf-8'
            }).done(function (data) {
                setDebugInfo(data);
                $("#resultDiv").html('<h3><a href="@String.Concat(Request.Url.GetLeftPart(UriPartial.Authority), "/Party/Play/")' + data.Name + '">@String.Concat(Request.Url.GetLeftPart(UriPartial.Authority), "/Party/Play/")' + data.Name + '</h3>');
            });;
        });
    });
</script>

<h2>Bienvenue</h2>
<div class="row">
    <blockquote>
        <p>
            Cliquez sur le bouton pour démarrer une nouvelle partie.
        </p>
    </blockquote>
    <div class="col-md-8 col-md-offset-2">
        <button type="button" id="newPartyBtn" class="btn-lg btn-success">Créer une nouvelle partie</button>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2" id="resultDiv">
    </div>
</div>