@model string

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Partie en cours";
}

<script type="text/javascript">
    var party; // stockage (JSon) de l'objet PartyModel
    var playerToken; // token du joueur connecté
    var myBoard; // plateau de jeu, array de cases
    var myHistory; // historique de la partie
    var images = {}; // array d'images du jeu (pièces du jeu d'échec);

    var size = 400; // taille en pixels du plateau
    var caseNumber = 8; // nombre de cases du plateau
    var moveStep = 0; // compteur de cases sélectionnées
    var moveText = ''; // texte du coup

    var isWhite = false; // true si le joueur est le joueur blanc
    var isBlack = false; // true si le joueur est le joueur noir

    var partyOver = false; // un marqueur pour éviter les popup à répétition si un des joueurs refresh sa page sur un mat ou un pat

    // liste des images des pièces
    var sources = {
        b_rook: '/Content/Images/Pieces/b_rook.svg',
        b_knight: '/Content/Images/Pieces/b_knight.svg',
        b_bishop: '/Content/Images/Pieces/b_bishops.svg',
        b_queen: '/Content/Images/Pieces/b_queen.svg',
        b_king: '/Content/Images/Pieces/b_king.svg',
        b_pawn: '/Content/Images/Pieces/b_pawn.svg',
        w_rook: '/Content/Images/Pieces/w_rook.svg',
        w_knight: '/Content/Images/Pieces/w_knight.svg',
        w_bishop: '/Content/Images/Pieces/w_bishops.svg',
        w_queen: '/Content/Images/Pieces/w_queen.svg',
        w_king: '/Content/Images/Pieces/w_king.svg',
        w_pawn: '/Content/Images/Pieces/w_pawn.svg'
    };

    // Les deux couleurs du jeu
    var colors = {
        white: 1,
        black: 2
    };

    // différentes valeurs que peut prendre PartyState
    var partyStates = {
        waitPlayers: 1,
        running: 2,
        drawn: 3,
        overWhiteWin: 4,
        overBlackWin: 5
    };

    // différentes valeurs que peut prendre PlayerState
    var playerStates = {
        undefined: 1,
        canMove: 2,
        waitHisTurn: 3,
        canPromote: 4,
        askDrawn: 5,
        pat: 6,
        resign: 7,
        check: 8,
        checkMat: 9
    };

    $(document).ready(function () {
        loadCookie('@Model'); // on cherche à initialiser les données de joueur depuis les cookies (cas du retour sur la page)

        // chargement des images du jeu et tracé du premier canvas une fois celles-ci chargées
        loadImages(sources, function () {
            // récupération de la partie et extraction du plateau et de l'historique
            reloadParty('@Model');
        });

        var partyHub = $.connection.partyHub;

        // une fois que le serveur est prêt
        $.connection.hub.start().done(function () {
            // on abonne l'utilisateur sur la page au groupe de la partie
            partyHub.server.joinParty('@Model');
        });

        partyHub.client.addNewMessageToPage = function (name, message) {
            appendMessage(name, message);
        };

        partyHub.client.addPlayerWhite = function () {
            reloadParty('@Model');
        };

        partyHub.client.addPlayerBlack = function () {
            reloadParty('@Model');
        };

        partyHub.client.moveOver = function () {
            reloadParty('@Model');
        }

        partyHub.client.SendInfo = function (info) {
            setMsg(info);
        }

        partyHub.client.playerResign = function () {
            reloadParty('@Model');
        }

        partyHub.client.playerAskDrawn = function () {
            respondToDrawnAsk('@Model');
        }

        partyHub.client.playerAcceptDrawn = function () {
            reloadParty('@Model');
        }
    });
</script>

<!-- Modal pour la partie nulle -->
<div class="modal fade" id="confirmDrawnModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Demande de partie nulle</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="centerBlock">
                            <div>Voulez-vous accepter l'annulation de cette partie ?</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="confirmDrawnBtn">Oui</button>
                <button type="button" data-dismiss="modal" class="btn" id="refuseDrawn">Non</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal box pour le mat -->
<div class="modal fade" id="matModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Echec et Mat !</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="centerBlock">
                            <div id="matText"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="validMat" class="btn btn-primary" data-dismiss="modal">Valider</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal box pour le pat -->
<div class="modal fade" id="patModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Pat</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="centerBlock">
                            <div id="patText"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="validPat" class="btn btn-primary" data-dismiss="modal">Valider</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal box pour la promotion -->
<div class="modal fade" id="promoteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Choisissez une pièce</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="centerBlock">
                            <img src="/Content/Images/Pieces/b_knight.svg" style="width:45px;height:45px;" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="centerBlock">
                            <img src="/Content/Images/Pieces/w_bishops.svg" style="width:45px;height:45px;" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="centerBlock">
                            <img src="/Content/Images/Pieces/b_rook.svg" style="width:45px;height:45px;" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="centerBlock">
                            <img src="/Content/Images/Pieces/w_queen.svg" style="width:45px;height:45px;" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="centerBlock">
                            <input type="radio" id="promotedChoise" name="promotedChoise" value="knight" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="centerBlock">
                            <input type="radio" id="promotedChoise" name="promotedChoise" value="bishop" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="centerBlock">
                            <input type="radio" id="promotedChoise" name="promotedChoise" value="rook" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="centerBlock">
                            <input type="radio" id="promotedChoise" name="promotedChoise" value="queen" checked="checked" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="validPromote" class="btn btn-primary" onclick="validPromote('@Model')" data-dismiss="modal">Valider</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de confirmation -->
<div id="confirm" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Etes vous sur ?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="confirmBtn">Oui</button>
                <button type="button" data-dismiss="modal" class="btn">Non</button>
            </div>
        </div>
    </div>
</div>

<br />
<!-- première ligne pour les infos -->
<div class="row">
    <div class="col-md-6">
        <h1>Partie @Model</h1>
    </div>
    <div id="msgDivParent" class="col-md-6" style="display:none">
        <div id="msgDiv" class="alert alert-warning">Bienvenue</div>
    </div>
</div>
<br />
<div class="row" id="btnRow">
    <div class="col-md-6 alignRight" id="whiteBtnDiv">
        <button type="button" id="whiteBtn" class="btn" onclick="addPlayer('@Model', colors.white)" disabled>Jouer avec les blancs</button><br />
    </div>
    <div class="col-md-6" id="blackBtnDiv">
        <button type="button" id="blackBtn" class="btn" onclick="addPlayer('@Model', colors.black)" disabled>Jouer avec les noirs</button>
    </div>
</div>
<br />

<!-- ligne avec les coups, le plateau et le tchat -->
<div class="row">
    <div class="col-md-3" id="moveDiv">
        <div class="panel panel-default">
            <div class="panel-heading">Infos</div>
            <div class="panel-body">
                <div id="infoDiv"></div><br />
                <img src="/Content/Images/black_active.png" class="playerIcon hidden" id="blackIcon" />
                <img src="/Content/Images/white_active.png" class="playerIcon hidden" id="whiteIcon" />
                <span id="colorDiv"></span>
                <br /><br />
                <span id="btnDiv" style="display:none">
                    <button type="button" id="btnResign" name="btnResign" class="btn btn-default btn-xs" onclick="resign(event, '@Model')">Abandonner</button>
                    <button type="button" id="btnDrawn" name="btnDrawn" class="btn btn-default btn-xs" onclick="askForDrawn('@Model')">Proposer la nulle</button>
                </span>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Historique</div>
            <div class="panel-body">
                <ul id="moves"></ul>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading" id="turnDiv"></div>
            <div class="panel-body">
                <div class="centerBlock">
                    <canvas id="canvas" width="400" height="400" style="border:1px solid #000000;" onclick="getMousePos(this, event)"></canvas>
                </div>
            </div>
        </div>

    </div>
    <!-- Tchat -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Tchat</div>
            <div class="panel-body">
                <textarea id="message" rows="2" cols="40" onkeyup="checkIfSendMsg(event, '@Model')"></textarea>
                <input type="button" id="sendmessage" value="Ok" onclick="sendNewMsg('@Model')" />
                <input type="hidden" id="displayname" value="Anonymous" />
                <br /><br />
                <ul id="discussion"></ul>
            </div>
        </div>

    </div>
</div>