body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.centerBlock {
    display: table;
    margin: 0 auto;
}

.alignRight {
   text-align:right;
}

.alignLeft {
   text-align:left;
}

.playerIcon {
    height: auto; 
    width: auto; 
    max-width: 30px; 
    max-height: 30px;
}

.debugZone{
    margin-left:auto;
    margin-right:auto;
    width:600px;
    padding:10px;
    border:1px #808080 solid;
    background-color:lavender;
}
